[submodule "UtilLib"]
	path = UtilLib
	url = git@github.com:HengineV5/UtilLib.git
	branch = master
[submodule "MathLib"]
	path = MathLib
	url = git@github.com:HengineV5/MathLib.git
	branch = master
[submodule "ImageLib"]
	path = ImageLib
	url = git@github.com:HengineV5/ImageLib.git
	branch = master
[submodule "EnCS"]
	path = EnCS
	url = git@github.com:HengineV5/EnCS.git
	branch = master
[submodule "TemplateGenerator"]
	path = TemplateGenerator
	url = git@github.com:HengineV5/TemplateGenerator.git
	branch = master
[submodule "HengineV5"]
	path = HengineV5
	url = git@github.com:HengineV5/HengineV5.git
	branch = master
